html{
	height:100%;
}

body{
    background-color:cornsilk;
	height:100%;
}
h1{
    font-family: 'Quicksand', sans-serif;
    font-style:normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size:24px;
    color:blue;
    background-color:#FCE5B7;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
h2.section{
    font-size:99%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
img.portrait{
    border:15px solid #FCE5B7;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    width:100%;
}


li{
    margin-bottom:10px;
}

div.container{
    position:absolute;
    width:100%;
    height:100%;
}

#wrapper{
	position:relative;
	width:75%;
	height:100%;
	background-color:white;
	margin:0 auto;
	-moz-box-shadow: 0 0 30px 5px #999;
	-webkit-box-shadow: 0 0 30px 5px #999;
}