body{
    background-color:cornsilk;
}
h1{
    font-family: 'Quicksand', sans-serif;
    font-style:normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size:24px;
    color:blue;
    background-color:#FCE5B7;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
h2.section{
    font-size:99%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
img.portrait{
    border:15px solid #FCE5B7;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    width:100%;
}
div.body{
    position:relative;
    width:68%;
    height:85%;
}
div.pageList{
    ;
}

li{
    margin-bottom:10px;
}
div.portrait{
    position:absolute;
    top:-25px;
    right:50px;
    width:25%;
    margin-bottom:10px;
    padding-bottom:10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

div.container{
    position:relative;
    width:100%;
    height:100%;
}

div.spacer{
    position:relative;
    height:100px;
    width:100%;
}

div.footer{
/*    position:relative;*/
/*    margin-right:25%;*/
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    height:10%;
    text-align:center;
/*    padding:0;*/
    margin:0 auto;
    background-color:#FCE5B7;
}