<head>
  <LINK href="css/normalize.css" rel="stylesheet" type="text/css">
    <LINK rel="stylesheet" type="text/css" href="css/icon_font/flaticon.css">
    <LINK href="css/outfit.css" rel="stylesheet" type="text/css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.panelSnap.js"></script>
    <script src="js/brain.js"></script>
  </head>

  <body id="body">
    <section id="opening">
      <div class=shield>
        <div id=shield_text>
          <h1>Jonathan Gluck</h1>
        </div>
        <div id="shield_pulldown">
          <div id="pulldown_text">
            <p>Scroll Down</p>
          </div>
          <div id="pulldown_icon">
            <img src="img/down.png" alt="scroll down" style="width:10%; opacity:0.2  "/>
          </div>

        </div>
      </div>
    </section>
    <section>
      <div class=card>
        <div class=left>
          <div class=header_div>
            <h1>Jonathan Gluck</h1>
          </div>
          <div class=portrait>
            <img src="img/selfie.jpg" alt="Nyhaven Copenhagen!" />
          </div>
        </div>
        <div class=right>
          <div class=text_half>
            <p>
              I am a PhD student in Computer Science at University of Maryland.
              I enjoy working with parallel systems and big data. I have a broad
              range of interests and, as such, love learning new tools.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="project_section">
      <div class=card id="project_card">
        <div class=left>
          <div class=header_div>
            <h1>Projects</h1>
          </div>
          <div class=project_selector>
            <div class="project" id="p_cflow" onclick="select_cflow(event)">
              <img src="img/cflow.png" alt="cFlow: A tool for visualizing consumer data" />
            </div>
            <div class="project" id="p_ballpit" onclick="select_ballpit(event)">
              <img src="img/ballpit.png" alt="BallPit: An early experiment in Node.js" />
            </div>
            <div class="project" id="p_rememberwhen" onclick="select_rememberwhen(event)">
              <img src="img/rememberwhen.png" alt="RememberWhen: Assisted Memory with Google Glass" />
            </div>
            <div class="project" id="p_cuff" onclick="select_cuff(event)">
              <img src="img/cuff.png" alt="Cuff: Enforced stillness control via biofeedback" />
            </div>
            <div class="project" id="p_pingstorm" onclick="select_pingstorm(event)">
              <img src="img/pingstorm.png" alt="Pingstorm: Examining Heterogenous effects on connectivity" />
            </div>
            <div class="project" id="p_chunksafe" onclick="select_chunksafe(event)">
              <img src="img/chunksafe.png" alt="Chunksafe: A Peer to Peer distributed backup system based on DHT" />
            </div>
          </div>
        </div>
        <div class=right>
          <div class=text_half id="project_text">
            <p>
              Select a project to learn more.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id=publication_section>
      <div class=card id=publication_card>
        <div class=whole_card>
          <div class=text_box>
            <div class=header_div>
              <h1>Publications</h1>
            </div>
            <div class=publication_container>
              <div class=publication_section>
                <h2>Papers</h2>

                <div class=publication>
                  <div class=title>
                    <p>
                      Hone: Scaling down Hadoop on shared-memory systems
                    </p>
                  </div>
                  <div class=information>
                    <div class=where>
                      <p>
                        VLDB Endowment 6
                      </p>
                    </div>
                    <div class=when>
                      <p>
                        2013 - K Ashwin Kumar, Jonathan Gluck, Amol Deshpande, Jimmy Lin
                      </p>
                    </div>
                    <div class=access>
                      <p>
                        <a href="http://www.vldb.org/pvldb/vol6/p1354-kumar.pdf">PDF</a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class=publication>
                  <div class=title>
                    <p>
                      FAWN-DLi: A Data Library for a Fast Array of Wimpy Nodes
                    </p>
                  </div>
                  <div class=information>
                    <div class=where>
                      <p>
                         Computer Science Senior Thesis
                      </p>
                    </div>
                    <div class=when>
                      <p>
                        2012 - Swarthmore Computer Science Colloquiem
                      </p>
                    </div>
                    <div class=access>
                      <p>
                        <a href="http://www.sccs.swarthmore.edu/users/12/jgluck/resources/FAWNDLi.pdf">PDF</a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class=publication>
                  <div class=title>
                    <p>
                      NLP Assisted Analysis of Folk Taxonomy
                    </p>
                  </div>
                  <div class=information>
                    <div class=where>
                      <p>
                         Linguistics Senior Thesis
                      </p>
                    </div>
                    <div class=when>
                      <p>
                        2012 - Swarthmore Linguistics Colloquiem
                      </p>
                    </div>
                    <div class=access>
                      <p>
                        <a href="http://www.sccs.swarthmore.edu/users/12/jgluck/resources/JonathanGluckMatukarTaxonomy.pdf">PDF</a>
                      </p>
                    </div>
                  </div>
                </div>





              </div>
              <div class=publication_section>
                <h2>Other</h2>


                <div class=publication>
                  <div class=title>
                    <p>
                      FAWN-DLi: A Data Library for a Fast Array of Wimpy Nodes
                    </p>
                  </div>
                  <div class=information>
                    <div class=where>
                      <p>
                        Sigma Xi Poster Presentation
                      </p>
                    </div>
                    <div class=when>
                      <p>
                        2012 - Swarthmore Sigma Xi poster session
                      </p>
                    </div>
                    <div class=access>
                      <p>
                        <a href="http://www.sccs.swarthmore.edu/users/12/jgluck/resources/FawnPoster10.pdf">PDF</a>
                      </p>
                    </div>
                  </div>
                </div>


                <div class=publication>
                  <div class=title>
                    <p>
                      GPGPU implementation of quantum physical simulation of electron excitation:<br>
                      <i>Examining Markov Chain Monte Carlo Techniques</i>
                    </p>
                  </div>
                  <div class=information>
                    <div class=where>
                      <p>
                         Poster Presentation at PIRE
                      </p>
                    </div>
                    <div class=when>
                      <p>
                        2011 - Wurzburg Germany
                      </p>
                    </div>
                    <div class=access>
                      <p>
                        <a href="http://www.sccs.swarthmore.edu/users/12/jgluck/resources/PosterGermany.ppt">PPT</a>
                      </p>
                    </div>
                  </div>
                </div>


                <div class=publication>
                  <div class=title>
                    <p>
                      GPGPU implementation of quantum physical simulation of electron excitation:<br>
                      <i>Examining Markov Chain Monte Carlo Techniques</i>
                    </p>
                  </div>
                  <div class=information>
                    <div class=where>
                      <p>
                         Poster Presentation at PIRE
                      </p>
                    </div>
                    <div class=when>
                      <p>
                        2011 - Wurzburg Germany
                      </p>
                    </div>
                    <div class=access>
                      <p>
                        <a href="http://www.sccs.swarthmore.edu/users/12/jgluck/resources/PosterGermany.ppt">PPT</a>
                      </p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id=resources_section>
      <div class=card id=resources_card>
        <div class=left>
          <div class=header_div>
            <h1>Resources</h1>
          </div>
          <div class=img_holder onclick="open_github(event);">
            <i class="flaticon-github12"></i>
            <p>
              Github
            </p>
          </div>

        </div>
        <div class=right>
            <div class=fake_header_div>

            </div>
            <div class=img_holder onclick="open_resume(event)">
              <i class="flaticon-curriculum"></i>
              <p>
                R&eacutesum&eacute
              </p>
            </div>

        </div>

      </div>
    </section>

  </body>
