<head>
    <LINK href="outfit.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container">

        <div id="centered">
            <div class="centered-image">
                <img src="img/header.png" alt="Nyhaven by Jon">
            </div>

            <div id="links">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Research</a>
                            <ul>
                                <li><a href="http://scholar.google.com/citations?user=KFY5W1gAAAAJ&hl=en">Google Scholar</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Classes</a>
                            <ul>
                                <li><a href="#">one</a></li>
                                <li><a href="#">two</a></li>
                                <li><a href="#">three</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </nav>
            </div>
            Hi me!!
        </div>
    </div>
</body>