/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  overflow-x: hidden;
  color: #ffffff;
  font-family: Lato;
  font-weight: 100;
  font-size: 24px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    body {
      font-weight: 400; } }

#opening {
  background: #e35f08; }

img {
  max-width: 100%; }

section {
  position: relative;
  overflow: hidden;
  padding: 1.5em;
  width: 100%;
  height: 100%;
  background: #b3b09e;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  section .shield {
    width: 100%;
    height: 100%;
    text-align: center;
    background: #e35f08; }
    section .shield #shield_text {
      font-size: 200%; }
    section .shield #shield_pulldown {
      padding: 1em;
      margin-top: 25%; }
      section .shield #shield_pulldown p {
        padding: 1em; }
  section .card {
    width: 92%;
    height: 85%;
    background: #AD825B;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    section .card div[onclick] {
      cursor: pointer; }
    section .card:after {
      content: "";
      display: table;
      clear: both; }
    section .card h1 {
      font-weight: inherit;
      text-transform: uppercase;
      font-size: 200%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-all;
      margin: 0; }
    section .card .left {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; }
      @media only screen and (min-width: 1050px) {
        section .card .left {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%; }
          section .card .left:last-child {
            margin-right: 0; } }
      @media only screen and (max-width: 1050px) {
        section .card .left {
          height: 48%; } }
    section .card .right {
      margin-right: 0; }
      @media only screen and (min-width: 1050px) {
        section .card .right {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%; }
          section .card .right:last-child {
            margin-right: 0; } }
      @media only screen and (max-width: 1050px) {
        section .card .right {
          height: 48%; } }
    section .card .header_div {
      width: 100%;
      height: 15%;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0.5em;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
      @media only screen and (max-width: 1050px) {
        section .card .header_div {
          -webkit-box-pack: center;
          -moz-box-pack: center;
          box-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center; } }
    section .card .portrait {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      width: 100%;
      height: 85%;
      padding: 1em; }
      @media only screen and (min-width: 1050px) {
        section .card .portrait {
          float: left;
          display: block;
          margin-right: 4.82916%;
          width: 100%; }
          section .card .portrait:last-child {
            margin-right: 0; } }
      section .card .portrait img {
        max-width: 85%;
        max-height: 100%; }
    section .card .fake_header_div {
      width: 100%;
      height: 15%;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0.5em;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
      @media only screen and (max-width: 1050px) {
        section .card .fake_header_div {
          display: none; } }
    section .card .img_holder {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      text-allign: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-content: center;
      -moz-align-content: center;
      align-content: center;
      -ms-flex-line-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      width: 100%;
      height: 85%;
      padding: 1em;
      text-align: center; }
      @media only screen and (min-width: 1050px) {
        section .card .img_holder {
          float: left;
          display: block;
          margin-right: 4.82916%;
          width: 100%; }
          section .card .img_holder:last-child {
            margin-right: 0; } }
      @media only screen and (max-width: 1050px) {
        section .card .img_holder {
          font-size: 75%; } }
      @media only screen and (max-width: 512px) {
        section .card .img_holder {
          font-size: 50%; } }
      section .card .img_holder .flaticon-curriculum {
        font-size: 10em; }
      section .card .img_holder .flaticon-github12 {
        font-size: 10em; }
      @media only screen and (max-width: 1050px) {
        section .card .img_holder p {
          visibility: hidden; } }
    section .card .text_half {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 1em;
      vertical-align: middle;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      height: 100%;
      width: 100%;
      /* unvisited link */
      /* visited link */ }
      @media only screen and (max-width: 1050px) {
        section .card .text_half {
          -webkit-box-pack: start;
          -moz-box-pack: start;
          box-pack: start;
          -webkit-justify-content: flex-start;
          -moz-justify-content: flex-start;
          -ms-justify-content: flex-start;
          -o-justify-content: flex-start;
          justify-content: flex-start;
          -ms-flex-pack: start;
          -webkit-box-align: center;
          -moz-box-align: center;
          box-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          align-items: center;
          -ms-flex-align: center;
          text-align: center; } }
      section .card .text_half a:link {
        color: #78be75; }
      section .card .text_half a:visited {
        color: #78be75; }
    section .card .project_selector {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-content: space-around;
      -moz-align-content: space-around;
      align-content: space-around;
      -ms-flex-line-pack: distribute;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: center;
      -webkit-flex-flow: flex-wrap;
      -moz-flex-flow: flex-wrap;
      flex-flow: flex-wrap;
      height: 85%; }
      section .card .project_selector:last-child {
        margin-right: 0; }
      section .card .project_selector .project {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-content: middle;
        -moz-align-content: middle;
        align-content: middle;
        -ms-flex-line-pack: middle;
        max-width: 45%;
        max-height: 30%;
        -webkit-filter: grayscale(95%);
        filter: grayscale(95%); }
        section .card .project_selector .project img {
          max-width: 100%;
          height: 100%; }
      section .card .project_selector .project:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 100%; }
      section .card .project_selector .project:active {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }
    section .card .whole_card {
      width: 100%;
      height: 100%; }
      section .card .whole_card .text_box {
        width: 100%;
        height: 100%; }
      section .card .whole_card .header_div {
        width: 100%;
        height: 15%; }
        @media only screen and (max-width: 1050px) {
          section .card .whole_card .header_div h1 {
            text-align: center; } }
      section .card .whole_card .publication_container {
        width: 100%;
        height: 85%;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-content: space-between;
        -moz-align-content: space-between;
        align-content: space-between;
        -ms-flex-line-pack: justify;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; }
        section .card .whole_card .publication_container .publication_section {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-grow: 1;
          -moz-flex-grow: 1;
          flex-grow: 1;
          -ms-flex-positive: 1;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          box-orient: vertical;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          flex-direction: column;
          -ms-flex-direction: column; }
          section .card .whole_card .publication_container .publication_section h2 {
            margin: 0.15em 0 0 1.5em; }
          section .card .whole_card .publication_container .publication_section .publication {
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            box-orient: vertical;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            flex-direction: column;
            -ms-flex-direction: column;
            margin: 0.55em 0.55em 0 2em; }
            section .card .whole_card .publication_container .publication_section .publication .title {
              width: 100%;
              -webkit-flex-grow: 1;
              -moz-flex-grow: 1;
              flex-grow: 1;
              -ms-flex-positive: 1; }
              @media only screen and (max-width: 1050px) {
                section .card .whole_card .publication_container .publication_section .publication .title {
                  font-size: 75%; } }
              @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
                section .card .whole_card .publication_container .publication_section .publication .title {
                  font-size: 75%; } }
            section .card .whole_card .publication_container .publication_section .publication .information {
              width: 100%;
              -webkit-flex-grow: 2;
              -moz-flex-grow: 2;
              flex-grow: 2;
              -ms-flex-positive: 2;
              display: -webkit-box;
              display: -moz-box;
              display: box;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -moz-box-orient: horizontal;
              box-orient: horizontal;
              -webkit-flex-direction: row;
              -moz-flex-direction: row;
              flex-direction: row;
              -ms-flex-direction: row;
              -webkit-box-pack: center;
              -moz-box-pack: center;
              box-pack: center;
              -webkit-justify-content: space-around;
              -moz-justify-content: space-around;
              -ms-justify-content: space-around;
              -o-justify-content: space-around;
              justify-content: space-around;
              -ms-flex-pack: center;
              margin: 0.2em 0 0;
              font-size: 75%; }
              @media only screen and (max-width: 1050px) {
                section .card .whole_card .publication_container .publication_section .publication .information {
                  font-size: 55%; } }
              @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
                section .card .whole_card .publication_container .publication_section .publication .information {
                  font-size: 55%; } }
              section .card .whole_card .publication_container .publication_section .publication .information .when {
                width: 2em;
                -webkit-flex-grow: 5;
                -moz-flex-grow: 5;
                flex-grow: 5;
                -ms-flex-positive: 5; }
              section .card .whole_card .publication_container .publication_section .publication .information .where {
                width: 2em;
                -webkit-flex-grow: 5;
                -moz-flex-grow: 5;
                flex-grow: 5;
                -ms-flex-positive: 5; }
              section .card .whole_card .publication_container .publication_section .publication .information .access {
                display: -webkit-box;
                display: -moz-box;
                display: box;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-self: flex-end;
                -moz-align-self: flex-end;
                align-self: flex-end;
                -ms-flex-item-align: end;
                width: 2em;
                -webkit-flex-grow: 1;
                -moz-flex-grow: 1;
                flex-grow: 1;
                -ms-flex-positive: 1; }
                section .card .whole_card .publication_container .publication_section .publication .information .access a:link {
                  color: #ffffff; }
                section .card .whole_card .publication_container .publication_section .publication .information .access a:visited {
                  color: #c6d0b2; }

#project_section {
  background: #072146; }

#project_card {
  background: #000000; }

#publication_section {
  background: #FFD6A0; }

#publication_card {
  background: #218777; }

#resources_section {
  background: #464a57; }

#resources_card {
  background: #908a7d; }

section:nth-child(2n) {
  background: #bab9b8; }
