      @import url(http://fonts.googleapis.com/css?family=Lato:100);

      * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
      }

      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
      }


      body {
        overflow-x: hidden;
        color: #ffffff;
        font-family: 'Lato';
        font-weight: 100;
        font-size: 24px;
      }

      @media screen and (max-width: 768px) {
        body {
          font-size: 16px;
          height:100%
        }
      }

      #opening{
        background: #e35f08;
      }

      section .shield{
        width: 100%;
        height: 100%;
        text-align: center;
        background: #e35f08;

      }

      .shield #shield_text{
        /*top:90%;*/
      }

      .shield #shield_pulldown{
        margin-top:25%;
      }

      section {
        position: relative;
        overflow: hidden;
        /*padding: 50px;*/
        padding: 4%;
        width: 100%;
        height: 100%;
        background: #b3b09e;
        /*background:#dcbaa9;*/
      }



      section:nth-child(2n) {
        background: #bab9b8;
      }


      section .card {
        position:absolute;
        width:92%;
        height:85%;
        background: #AD825B;
      }

      section .project_selector {
        position:relative;
        width:98%;
        height: 100%;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        display: -webkit-flex;
        display: flex;

        -webkit-justify-content:space-around;
        -webkit-align-content:space-around;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        justify-content:space-around;
        align-content:space-around;

        flex-flow: row-wrap;
        -webkit-flex-flow: row wrap;
      }

      div>.project{
        width:40%;
        height:20%;
        display:flex;
        justify-content:center;
      }

      div>.project:hover {
        -moz-box-shadow: 0 0 100px rgba(36, 137, 196, 0.5);
        -webkit-box-shadow: 0 0 100px rgba(36, 137, 196, 0.5);
        box-shadow: 0 0 100px rgba(36, 137, 196, 0.5);
      }

      /*.card .portrait{
      display: flex;
      position:relative;
      justify-content: center;
      width:70%;
      max-height:85%;
      padding: 1em;
      }*/


      .card .text_half {
        display: flex;
        position:relative;
        width:100%;
        height:85%;
        padding: 1em;
        /*text-align:center;*/
        vertical-align:middle;
        align-items: center;
      }

      .card .header_div{
        position:relative;
        width:100%;
        padding-left: 0.5em;
        float:top;
      }

      .card .left{
        position:relative;
        width:50%;
        height:100%;
        float:left;
        display:flex;
      }

      .card .right{
        position:relative;
        width:50%;
        height:100%;
        float:right;
      }

      h1 {
        font-weight: inherit;
        text-transform: uppercase;
        font-size: 300%;
        margin: 0;
      }

      a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 3px;
        padding-left: 10px  ;
      }

      img{
        max-width:100%;
      }

      @media all and (min-width: 1400px){

        .portrait img {
          max-width: 85%;
          max-height: 85%;
          margin:auto;
        }
        .card .portrait{
          /*  */


          display: flex;
          position:relative;
          justify-content: center;
          max-height:85%;
          padding: 1em;
        }
      }

      @media all and (max-width: 1400px) {
        .portrait img {
          max-width: 70%;
          max-height: 70%;
          margin:auto;
        }
        .header_div h1{font-size: 220%;}
        .card .portrait{
          display: flex;
          position:relative;
          justify-content: center;
          /*width:70%;*/
          max-height:85%;
          padding: 1em;
        }
      }

      @media all and (max-width: 1150px) {
        .portrait img {
          max-width: 70%;
          max-height: 70%;
          margin:auto;
        }
        .header_div h1{font-size: 200%;}
        .card .portrait{
          display: flex;
          position:relative;
          justify-content: center;
          /*width:70%;*/
          max-height:85%;
          padding: 1em;
        }
      }

      @media all and (max-width: 950px) {
        .header_div h1{font-size: 250%;}
        .header_div{text-align:center;}
        .text_half{text-align:center;}
        .portrait img{max-height:100%;max-width:100%}
        .card .left{float:none;height:50%; width:100%}
        .card .right{float:none;height:50%; width:100%}
        .card .portrait{
          display: flex;
          position:relative;
          justify-content: center;
          /*width:70%;*/
          max-height:85%;
          padding: 1em;
        }
      }

      @media all and (max-width: 700px){
        .header_div{text-align:center;}
        .portrait img{max-height:100%;max-width:100%}
        .card .left{float:none;height:50%; width:100%}
        .card .right{float:none;height:50%; width:100%}
        .card .portrait{
          display: flex;
          position:relative;
          justify-content: center;
          /*width:70%;*/
          max-height:85%;
          padding: 1em;
        }
      }

      @media only screen and (max-device-width: 480px) {
        .header_div h1{font-size: 250%;}
        .header_div{text-align:center;}
        .text_half{text-align:center;}
        .portrait img{max-height:100%;max-width:100%}
        .card .left{float:none;height:50%; width:100%}
        .card .right{float:none;height:50%; width:100%}
        .portrait{
          display: flex;
          position:relative;
          justify-content: center;
          /*width:70%;*/
          max-height:85%;
          padding: 1em;
          left:20%;
          margin: 1em;
        }
        .text_half{
          font-size:200%;
        }
      }




      pre {
        font-size: 65%;
      }

      .panels,
      .log,
      .menu,
      pre {
        position: absolute;
        top: 200px;
        bottom: 50px;
        right: 50px;
        left: 400px;
        overflow: scroll;
      }

      .log,
      .menu {
        right: auto;
        left: 50px;
        width: 300px;
      }

      pre {
        left: 50px;
        padding: 50px;
      }

      .menu a {
        display: block;
        width: 100%;
        padding: 25px;
        background: #f1c40f;
        margin: 0 0 25px 0;

        border: none;
      }

      .menu a.active,
      .menu a:active,
      .menu a:hover {
        background: #f39c12;
      }
