@import 'reset';
@import 'flex';
@import 'bourbon/bourbon';
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);


$global-font: Lato;
$mobile: new-breakpoint(max-width 500px 4);




* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body{
  height: 100%
}

body{
  overflow-x: hidden;
  color: #ffffff;
  font-family: $global-font;
  font-weight: 100;
  font-size: 24px;
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
    font-weight:400;
  }

}


#opening{
    background: #e35f08;
}


img{
  max-width:100%;
}

section{
  position: relative;
  overflow: hidden;
  @include padding(1.5em);
  width: 100%;
  height: 100%;
  background: #b3b09e;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  .shield{
    width: 100%;
    height: 100%;
    text-align: center;
    background: #e35f08;



    #shield_text{
      font-size: 200%;
    }

    #shield_pulldown{
      @include padding(1em);
      margin-top:25%;

      p{
        @include padding(1em);
      }
    }

  }


  .card{
    div[onclick]{
      cursor: pointer;
    }
    // position:aboslute;
    width:92%;
    height:85%;
    background: #AD825B;
    @include outer-container;

    h1 {
      font-weight: inherit;
      text-transform: uppercase;
      font-size: 200%;
      @include word-wrap(break-word);
      margin: 0;
    }

    .left{
      // @include display(flex);
      @include flex-direction(column);
      // height:100%;
      // @include span-columns(6);
      @media only screen and (min-width: 1050px){
        @include span-columns(6);
        // @include omega;
      }
      @media only screen and (max-width: 1050px){
        height:48%;

      }
    }

    .right{
      // @include display(flex);
      // height:100%;
      @include omega;
      @media only screen and (min-width: 1050px){
        @include span-columns(5);
      }
      @media only screen and (max-width: 1050px){
        height:48%;
      }
    }


    .header_div{
      width:100%;
      height:15%;
      @include display(flex);
      @include padding(null null null 0.5em);
      @include align-items(center);
      @media only screen and (max-width: 1050px){
        @include justify-content(center);
      }
    }

    .portrait{
      @media only screen and (min-width: 1050px){
        @include span-columns(6 of 6);
      }
      @include display(flex);
      @include justify-content(center);
      // max-height:85%;
      width:100%;
      height:85%;
      @include padding(1em);

      img{
        max-width:85%;
        max-height:100%;
        // height:auto;
        // width:auto;
      }
    }

    .fake_header_div{
      width:100%;
      height:15%;
      @include display(flex);
      @include padding(null null null 0.5em);
      @include align-items(center);
      @media only screen and (max-width: 1050px){
        @include display(none)
      }
    }

    .img_holder{
      @include display(flex);
      text-allign:center;
      @media only screen and (min-width: 1050px){
        @include span-columns(6 of 6);
      }
      @include justify-content(center);
      @include align-content(center);
      @include align-items(center);
      // max-height:85%;
      width:100%;
      height:85%;
      @include padding(1em);
      // background:red;
      text-align:center;

      @media only screen and (max-width: 1050px){
        font-size:75%;
      }

      @media only screen and (max-width: 512px){
        font-size:50%;
      }

      .flaticon-curriculum{
        font-size:10em;
      }
      .flaticon-github12{
        font-size:10em;
      }

      p{
        @media only screen and (max-width: 1050px){
          visibility:hidden;
        }
      }
    }


    .text_half{
      @include display(flex);
      @include padding(1em);
      vertical-align:middle;
      @include align-items(center);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      height:100%;
      width:100%;
      @media only screen and (max-width: 1050px){
        @include justify-content(flex-start);
        @include align-items(center);
        text-align:center;
      }

      /* unvisited link */
      a:link {
        color: #78be75;;
      }

  /* visited link */
      a:visited {
        color: #78be75;
    }

    }


    .project_selector{
      @include span-columns(6 of 6);
      // @include box-sizing(border-box);
      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include align-content(space-around);
      @include justify-content(space-around);
      @include flex-flow(flex-wrap);
      height:85%;


      .project{
        // @include omega(2n);
        @include display(flex);
        @include justify-content(center);
        @include align-content(middle);
        max-width:45%;
        max-height:30%;
        @include filter(grayscale(95%));

        img{
          // display:block;
          max-width:100%;
          // max-height:100%;
          height:100%;
          // width:auto;
        }
      }

      .project:hover{
        //todo
        // box-shadow: 0em 0em 2em .5em #FFFFFF;
        @include filter(grayscale(0%));
        opacity:100%;
      }

      .project:active{
        @include filter(grayscale(0%));
      }
    }

    .whole_card{
      // @include display(flex);
      width:100%;
      height:100%;

      .text_box{
        width:100%;
        height:100%;
      }
      .header_div{
        width:100%;
        height:15%;
        h1{
          @media only screen and (max-width: 1050px){
            text-align:center;
          }
        }
      }
      .publication_container{
        width:100%;
        height:85%;
        @include display(flex);
        @include align-content(space-between);
        @include flex-direction(column);
        .publication_section{
          @include display(flex);
          @include flex-grow(1);
          @include flex-direction(column);
          h2{
            @include margin(0.15em 0 0 1.5em);
          }

          .publication{
            @include display(flex);
            @include flex-direction(column);
            @include margin(0.55em 0.55em 0 2em);

            .title{
              width:100%;
              @include flex-grow(1);


              @media only screen //half screen
              and (max-width: 1050px){
                font-size:75%;
              }

              @media only screen //iphone
              and (min-device-width : 320px)
              and (max-device-width : 568px) {
                font-size:75%;
              }

            }

            .information{
              width:100%;
              @include flex-grow(2);
              @include display(flex);
              @include flex-direction(row);
              @include justify-content(space-around);
              @include margin(0.2em 0 0 0 );
              font-size:75%;

              @media only screen //half screen
              and (max-width: 1050px){
                font-size:55%;
              }

              @media only screen//phone
              and (min-device-width : 320px)
              and (max-device-width : 568px) {
                font-size:55%;
              }
              .when{
                width:2em;
                @include flex-grow(5);
              }
              .where{
                width:2em;
                @include flex-grow(5);
              }
              .access{
                @include display(flex);
                @include align-self(flex-end);
                width:2em;
                @include flex-grow(1);
                // font-weight:bold;
                a:link{
                  color:#ffffff;
                }
                a:visited{
                  color:#c6d0b2;
                }
              }
            }

          }
        }
      }
    }
  }
}

#project_section{
  background: #072146;
}

#project_card{
  background: #000000;
}

#publication_section{
  background: #FFD6A0;
}

#publication_card{
  background: #218777;
}

#resources_section{
  background: #464a57;
}

#resources_card{
  background: #908a7d;
}

section:nth-child(2n){
  background: #bab9b8;
}
